@import '../../../../assets/scss/variables';

.searchWrapper {
  padding: 95px 0 180px;

  @media only screen and (max-width: $breakpointDasktop){
    padding-bottom: 100px;
  }
}

.iconWrapper {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gradientLight;

  @media only screen and (max-width: $breakpointDasktop){
    width: 66px;
    height: 66px;
    margin-bottom: 30px;
  }
}

.icon {
  position: relative;
  top: 3px;

  @media only screen and (max-width: $breakpointDasktop) {
    transform: scale(0.8);
  }
}

.searchFormWrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  @media only screen and (max-width: $breakpointDasktop){
    max-width: 600px;
  }
}

.note {
  margin-top: 40px;
  color: $dark;
  font-weight: 600;
  text-align: center;

  @media only screen and (max-width: $breakpointDasktop){
    margin-top: 30px;
    font-size: 14px;
  }
}