@import '../../../../assets/scss/variables';

.footer {
  background: #1E1F31;
  padding: 32px;  

  @media only screen and (max-width: $breakpointDasktop){
    padding: 14px;
    margin-top: auto;
  }
}

.uploadFileWrapper {
  width: 100%;
  padding: 80px 0;
  border: 3px dashed #55566B;
  transition: 0.25s;

  &:hover {
    border-color: #7d7fa1;
  }

  @media only screen and (max-width: $breakpointDasktop){
    border: 2px dashed #55566B;
    padding: 70px 0;
  }
}

.iconWrapper {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gradientDark;

  @media only screen and (max-width: $breakpointDasktop){
    width: 66px;
    height: 66px;
    margin-bottom: 30px;
  }
}

.icon {
  position: relative;
  top: 3px;
  left: 2px;

  @media only screen and (max-width: $breakpointDasktop) {
    transform: scale(0.7);
  }
}

.buttonWrapper {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  text-align: center;

  @media only screen and (max-width: $breakpointDasktop) {
    font-size: 16px;
    font-weight: 600;
  }
}

.button {
  padding: 10px 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  background: $blue;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}