@import '../../../assets/scss/variables';

.searchForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $borderRadius;
  box-shadow: $shadow;
}

.searchInput {
  border: none;
  outline: none;
  background: transparent;
  width: calc(100% - 60px);
  height: 64px;
  font-size: 24px;
  font-weight: 400;
  padding-left: 24px;

  &::placeholder {
    color: $dark
  }

  @media only screen and (max-width: $breakpointDasktop){
    width: calc(100% - 60px);
    height: 42px;
    font-size: 17px;
    padding-left: 16px;
  }
}

.searchIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lightGray;
  cursor: pointer;
  margin-right: 10px;

  @media only screen and (max-width: $breakpointDasktop) {
    width: 36px;
    height: 36px;
    margin-right: 6px;
  }
}