@import '../../../../assets/scss/variables';

.searchWrapper {
  margin: 95px auto;
  width: 100%;
  max-width: 960px;

  @media only screen and (max-width: $breakpointDasktop){
    max-width: 600px;
    margin: 65px auto;
  }
}
