@import '../../../assets/scss/variables';

.card {
  width: 240px;
  height: 350px;
  margin-right: 50px;
  margin-bottom: 50px;
  
  &:nth-child(4n){
    margin-right: 0;
  }

  @media only screen and (max-width: $breakpointDasktop){
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.cardImage {
  width: 100%;
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.iconButton {
  cursor: pointer;
  background: $gradientLight;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: #ACAAB5;
  }

  &.zoom {
    position: absolute;
    left: 16px;
    bottom: 16px;
  }
  
  &.nav {
    margin-left: 8px;
    background: $lightGray;    
  }

  &:hover {
    background: $gradientLightHover;

    svg {
      fill: #fff;
    }
  }
}

.iconComment {
  position: relative;
  top: 2px;
}

.iconZoom {
  position: relative;
  top: 3px;
  left: 1px;
}

.iconShare {
  position: relative;
  top: 2px;
  left: -1px;
}

.cardInfo {
  background: #E9E9EC;
  padding: 13px 16px 16px;
}

.cardNumber {
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 400;
}

.cardTitle {
  font-weight: 600;
  font-size: 14px;
}

.cardLikes {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.cardLikeIcon {
  cursor: pointer;

  &:first-child {
    margin-right: 16px;
  }
}

.cardButtons {
  display: flex;
  align-items: center;
}

.cardNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}